<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Oops!</title>
</head>

<body align="center">

<h1>Oops!</h1>
<h1 th:text="${errorMsg}"></h1>
<div>
    <img src="../../../static/images/error.jpg" alt="Error" title="Error"/>
</div>

</body>

</html>