<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Items</title>
</head>

<body align="center">

<h1>Hello, <span th:text="${user}">! </span></h1>

<form method="POST">
    <p><select name="addItem" required>
        <option th:each="item : ${listItems}" th:value="${item.id}"
                th:text="${item.name + ' (' + item.price + ' $)'}"></option>
    </select></p>

    <p th:each="item, state : ${session.result}">
        <tr>
            <td th:text="${state.count + '. '}">Count</td>
            <td th:text="${item.name}">Name</td>
            <td th:text="${item.price} + '$'">Price</td>
        </tr>
    </p>
    <p><input type="submit" value="Add Item"></p>
</form>
<form th:action="@{order}" method="POST">
    <p><input type="submit" value="Submit"></p>
</form>
<p><a href="#" th:href="@{/logout}">Log Out</a></p>

</body>

</html>