<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Order</title>
    <style>
        table {
            width: 300px;
            border: 1px solid green;
            margin: auto;
        }

        td {
            text-align: center;
            border: 1px solid green;

        }

    </style>
</head>

<body align="center">

<h1>Dear <span th:text="${user}"></span>, your order: </h1>

<div th:if="${orderItems != null}">
    <table>
        <th>Count</th>
        <th>Title</th>
        <th>Price</th>
        <tr th:each="item, state : ${orderItems}">
            <td th:text="${state.count} + '.'"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.price} + '$'"></td>
        </tr>
    </table>
    Total: <span th:text="${totalPrice} + '$.'"></span>
</div>

<div th:if="${orderItems == null}">
    <p>No product selected</p>
</div>

<p><a th:href="@{/online-shop/items}">Back to items</a></p>
<p><a href="#" th:href="@{/logout}">Log Out</a></p>

</body>

</html>